img[alt="Akashic"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Alborada"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Andromeda"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Arthur"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Aurora"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Boltus"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Caramel"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Death Knel"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Doomlight"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Dreadwolf"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Firefox"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Firestar"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Flamenco"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Gabriel"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Gaia"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Guerilla Hunter"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Hotsteel"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Hurricane"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="JOJO"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Lancelot"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Michael"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Moon Rabbit"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Nebula"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Neutron Star"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Northern Knight"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Pulsar"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Ranger"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Raven"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Shiranui"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Skyfall"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Skyfire"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Skylark"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Snow Mirage"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Tempest"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Trio of Enders"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Twilight"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Ventorus"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Aya"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Belladonna"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Cyrus"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Fran"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Furanku"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Iori"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Ivan"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Jaka"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Jiu Chomg"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Joanna"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Kije"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Kikina"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Kizuna Ai"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Lillian"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Lysa"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Matilda"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Mia"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Mila"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Mobius"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Nighthalk"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Ning"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Norma"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Opal"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Purity"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="RED"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Riko"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Rom"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Serena"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Shin"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Silver Deacon"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Tarantula"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Vanessa"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Villar"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Vita"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Yang"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Yulia"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Yutong"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}
img[alt="Zoe"] {
  width: auto;
  height: 100%;
  position: relative;
  margin-left: -25px;
}