:root{
  --white: #ffffffff;
  --background-image: url('../textures/gui/bg_overlay.png');
  --black: #000000ff;
  --alpha-black: #00000044;
  --color-on: #ffffffff;
  --header-bg: url('../textures/gui/floor.png'), url('../textures/gui/bg_inner.png'), url('../textures/gui/list_bg.png');
  --company-logo: url('../textures/gui/company.png');
  --gacha-bg: url('../textures/gui/cards_continer.png');
  --blue-button: url('../textures/gui/opx1.png');
  --yellow-button: url('../textures/gui/opx10.png');
  --card-def: url('../textures/gatcha/1d.png');
  --card-c: url('../textures/gatcha/2c.png');
  --card-b: url('../textures/gatcha/3b.png');
  --card-a: url('../textures/gatcha/4a.png');
  --card-s: url('../textures/gatcha/5s.png');
  --card-sp: url('../textures/gatcha/6sp.png');
  --card-ss: url('../textures/gatcha/7ss.png');
  --game-logo: url('../textures/gui/logo.png');
  --mecha-icon: url('../textures/gui/icon_mecha.png');
  --pilot-icon: url('../textures/gui/icon_pilot.png');
  --tab-vert: url('../textures/gui/tab_vertical.png');
  --tabs-continer: url('../textures/gui/tabs_continer.png');
  --tab-hor-off: url('../textures/gui/tab_off.png');
  --tab-hor-on: url('../textures/gui/tab_horizontal.png');
  --coll-bg: url('../textures/gui/collection_bg.png');
  --bg-coll-d: url('../textures/gui/inventory/item_bg_1d.png');
  --close-fwin: url('../textures/gui/close0.png');
  --line: url('../textures/gui/line.png');
  --skip-vid: url('../textures/gui/skip.png');
  --play-button: url('../textures/gui/play.png');
  /* Images */
  /* Mechas */
  --akashic-img: url('../textures/cards/mecha/default/Akashic.png');
  --akashic-img-preview: url('../textures/images/mecha/default/Akashic.png');
  --alborada-img: url('../textures/cards/mecha/default/Alborada.png');
  --alborada-img-preview: url('../textures/images/mecha/default/Alborada.png');
  --andromeda-img: url('../textures/cards/mecha/default/Andromeda.png');
  --andromeda-img-preview: url('../textures/images/mecha/default/Andromeda.png');
  --arthur-img: url('../textures/cards/mecha/default/Arthur.png');
  --arthur-img-preview: url('../textures/images/mecha/default/Arthur.png');
  --aurora-img: url('../textures/cards/mecha/default/Aurora.png');
  --aurora-img-preview: url('../textures/images/mecha/default/Aurora.png');
  --boltus-img: url('../textures/cards/mecha/default/Boltus.png');
  --boltus-img-preview: url('../textures/images/mecha/default/Boltus.png');
  --caramel-img: url('../textures/cards/mecha/default/Caramel.png');
  --caramel-img-preview: url('../textures/images/mecha/default/Caramel.png');
  --death-knell-img: url('../textures/cards/mecha/default/Death Knell.png');
  --death-knell-img-preview: url('../textures/images/mecha/default/Death Knell.png');
  --doomlight-img: url('../textures/cards/mecha/default/Doomlight.png');
  --doomlight-img-preview: url('../textures/images/mecha/default/Doomlight.png');
  --dreadwolf-img: url('../textures/cards/mecha/default/Dreadwolf.png');
  --dreadwolf-img-preview: url('../textures/images/mecha/default/Dreadwolf.png');
  --firefox-img: url('../textures/cards/mecha/default/Firefox.png');
  --firefox-img-preview: url('../textures/images/mecha/default/Firefox.png');
  --firestar-img: url('../textures/cards/mecha/default/Firestar.png');
  --firestar-img-preview: url('../textures/images/mecha/default/Firestar.png');
  --flamenco-img: url('../textures/cards/mecha/default/Flamenco.png');
  --flamenco-img-preview: url('../textures/images/mecha/default/Flamenco.png');
  --gabriel-img: url('../textures/cards/mecha/default/Gabriel.png');
  --gabriel-img-preview: url('../textures/images/mecha/default/Gabriel.png');
  --gaia-img: url('../textures/cards/mecha/default/Gaia.png');
  --gaia-img-preview: url('../textures/images/mecha/default/Gaia.png');
  --guerilla-hunter-img: url('../textures/cards/mecha/default/Guerilla Hunter.png');
  --guerilla-hunter-img-preview: url('../textures/images/mecha/default/Guerilla Hunter.png');
  --hotsteel-img: url('../textures/cards/mecha/default/Hotsteel.png');
  --hotsteel-img-preview: url('../textures/images/mecha/default/Hotsteel.png');
  --hurricane-img: url('../textures/cards/mecha/default/Hurricane.png');
  --hurricane-img-preview: url('../textures/images/mecha/default/Hurricane.png');
  --jojo-img: url('../textures/cards/mecha/default/Jojo.png');
  --jojo-img-preview: url('../textures/images/mecha/default/Jojo.png');
  --lancelot-img: url('../textures/cards/mecha/default/Lancelot.png');
  --lancelot-img-preview: url('../textures/images/mecha/default/Lancelot.png');
  --michael-img: url('../textures/cards/mecha/default/Michael.png');
  --michael-img-preview: url('../textures/images/mecha/default/Michael.png');
  --moon-rabbit-img: url('../textures/cards/mecha/default/Moon Rabbit.png');
  --moon-rabbit-img-preview: url('../textures/images/mecha/default/Moon Rabbit.png');
  --nebula-img: url('../textures/cards/mecha/default/Nebula.png');
  --nebula-img-preview: url('../textures/images/mecha/default/Nebula.png');
  --neutron-star-img: url('../textures/cards/mecha/default/Neutron Star.png');
  --neutron-star-img-preview: url('../textures/images/mecha/default/Neutron Star.png');
  --northern-knight-img: url('../textures/cards/mecha/default/Northern Knight.png');
  --northern-knight-img-preview: url('../textures/images/mecha/default/Northern Knight.png');
  --pulsar-img: url('../textures/cards/mecha/default/Pulsar.png');
  --pulsar-img-preview: url('../textures/images/mecha/default/Pulsar.png');
  --ranger-img: url('../textures/cards/mecha/default/Ranger.png');
  --ranger-img-preview: url('../textures/images/mecha/default/Ranger.png');
  --raven-img: url('../textures/cards/mecha/default/Raven.png');
  --raven-img-preview: url('../textures/images/mecha/default/Raven.png');
  --shiranui-img: url('../textures/cards/mecha/default/Shiranui.png');
  --shiranui-img-preview: url('../textures/images/mecha/default/Shiranui.png');
  --skyfall-img: url('../textures/cards/mecha/default/Skyfall.png');
  --skyfall-img-preview: url('../textures/images/mecha/default/Skyfall.png');
  --skyfire-img: url('../textures/cards/mecha/default/Skyfire.png');
  --skyfire-img-preview: url('../textures/images/mecha/default/Skyfire.png');
  --skylark-img: url('../textures/cards/mecha/default/Skylark.png');
  --skylark-img-preview: url('../textures/images/mecha/default/Skylark.png');
  --snow-mirage-img: url('../textures/cards/mecha/default/Snow Mirage.png');
  --snow-mirage-img-preview: url('../textures/images/mecha/default/Snow Mirage.png');
  --tempest-img: url('../textures/cards/mecha/default/Tempest.png');
  --tempest-img-preview: url('../textures/images/mecha/default/Tempest.png');
  --trio-of-enders-img: url('../textures/cards/mecha/default/Trio of Enders.png');
  --trio-of-enders-img-preview: url('../textures/images/mecha/default/Trio of Enders.png');
  --twilight-img: url('../textures/cards/mecha/default/Twilight.png');
  --twilight-img-preview: url('../textures/images/mecha/default/Twilight.png');
  --ventorus-img: url('../textures/cards/mecha/default/Ventorus.png');
  --ventorus-img-preview: url('../textures/images/mecha/default/Ventorus.png');
  /* Pilots */
  --aya-img: url('../textures/cards/pilot/default/Aya.png');
  --aya-img-preview: url('../textures/images/pilot/default/Aya.png');
  --belladonna-img: url('../textures/cards/pilot/default/Belladonna.png');
  --belladonna-img-preview: url('../textures/images/pilot/default/Belladonna.png');
  --cyrus-img: url('../textures/cards/pilot/default/Cyrus.png');
  --cyrus-img-preview: url('../textures/images/pilot/default/Cyrus.png');
  --fran-img: url('../textures/cards/pilot/default/Fran.png');
  --fran-img-preview: url('../textures/images/pilot/default/Fran.png');
  --furanku-img: url('../textures/cards/pilot/default/Furanku.png');
  --furanku-img-preview: url('../textures/images/pilot/default/Furanku.png');
  --iori-img: url('../textures/cards/pilot/default/Iori.png');
  --iori-img-preview: url('../textures/images/pilot/default/Iori.png');
  --ivan-img: url('../textures/cards/pilot/default/Ivan.png');
  --ivan-img-preview: url('../textures/images/pilot/default/Ivan.png');
  --jaka-img: url('../textures/cards/pilot/default/Jaka.png');
  --jaka-img-preview: url('../textures/images/pilot/default/Jaka.png');
  --jiu-chong-img: url('../textures/cards/pilot/default/Jiu Chong.png');
  --jiu-chong-img-preview: url('../textures/images/pilot/default/Jiu Chong.png');
  --joanna-img: url('../textures/cards/pilot/default/Joanna.png');
  --joanna-img-preview: url('../textures/images/pilot/default/Joanna.png');
  --kije-img: url('../textures/cards/pilot/default/Kije.png');
  --kije-img-preview: url('../textures/images/pilot/default/Kije.png');
  --kikina-img: url('../textures/cards/pilot/default/Kikina.png');
  --kikina-img-preview: url('../textures/images/pilot/default/Kikina.png');
  --kizuna-ai-img: url('../textures/cards/pilot/default/Kizuna Ai.png');
  --kizuna-ai-img-preview: url('../textures/images/pilot/default/Kizuna Ai.png');
  --lillian-img: url('../textures/cards/pilot/default/Lillian.png');
  --lillian-img-preview: url('../textures/images/pilot/default/Lillian.png');
  --lysa-img: url('../textures/cards/pilot/default/Lysa.png');
  --lysa-img-preview: url('../textures/images/pilot/default/Lysa.png');
  --matilda-img: url('../textures/cards/pilot/default/Matilda.png');
  --matilda-img-preview: url('../textures/images/pilot/default/Matilda.png');
  --mia-img: url('../textures/cards/pilot/default/Mia.png');
  --mia-img-preview: url('../textures/images/pilot/default/Mia.png');
  --mila-img: url('../textures/cards/pilot/default/Mila.png');
  --mila-img-preview: url('../textures/images/pilot/default/Mila.png');
  --mobius-img: url('../textures/cards/pilot/default/Mobius.png');
  --mobius-img-preview: url('../textures/images/pilot/default/Mobius.png');
  --nighthalk-img: url('../textures/cards/pilot/default/Nighthalk.png');
  --nighthalk-img-preview: url('../textures/images/pilot/default/Nighthalk.png');
  --ning-img: url('../textures/cards/pilot/default/Ning.png');
  --ning-img-preview: url('../textures/images/pilot/default/Ning.png');
  --norma-img: url('../textures/cards/pilot/default/Norma.png');
  --norma-img-preview: url('../textures/images/pilot/default/Norma.png');
  --opal-img: url('../textures/cards/pilot/default/Opal.png');
  --opal-img-preview: url('../textures/images/pilot/default/Opal.png');
  --purity-img: url('../textures/cards/pilot/default/Purity.png');
  --purity-img-preview: url('../textures/images/pilot/default/Purity.png');
  --red-img: url('../textures/cards/pilot/default/RED.png');
  --red-img-preview: url('../textures/images/pilot/default/RED.png');
  --riko-img: url('../textures/cards/pilot/default/Riko.png');
  --riko-img-preview: url('../textures/images/pilot/default/Riko.png');
  --rom-img: url('../textures/cards/pilot/default/Rom.png');
  --rom-img-preview: url('../textures/images/pilot/default/Rom.png');
  --serena-img: url('../textures/cards/pilot/default/Serena.png');
  --serena-img-preview: url('../textures/images/pilot/default/Serena.png');
  --shin-img: url('../textures/cards/pilot/default/Shin.png');
  --shin-img-preview: url('../textures/images/pilot/default/Shin.png');
  --silver-deacon-img: url('../textures/cards/pilot/default/Silver Deacon.png');
  --silver-deacon-img-preview: url('../textures/images/pilot/default/Silver Deacon.png');
  --tarantula-img: url('../textures/cards/pilot/default/Tarantula.png');
  --tarantula-img-preview: url('../textures/images/pilot/default/Tarantula.png');
  --vanessa-img: url('../textures/cards/pilot/default/Vanessa.png');
  --vanessa-img-preview: url('../textures/images/pilot/default/Vanessa.png');
  --villar-img: url('../textures/cards/pilot/default/Villar.png');
  --villar-img-preview: url('../textures/images/pilot/default/Villar.png');
  --vita-img: url('../textures/cards/pilot/default/Vita.png');
  --vita-img-preview: url('../textures/images/pilot/default/Vita.png');
  --yang-img: url('../textures/cards/pilot/default/Yang.png');
  --yang-img-preview: url('../textures/images/pilot/default/Yang.png');
  --yulia-img: url('../textures/cards/pilot/default/Yulia.png');
  --yulia-img-preview: url('../textures/images/pilot/default/Yulia.png');
  --yutong-img: url('../textures/cards/pilot/default/Yutong.png');
  --yutong-img-preview: url('../textures/images/pilot/default/Yutong.png');
  --zoe-img: url('../textures/cards/pilot/default/Zoe.png');
  --zoe-img-preview: url('../textures/images/pilot/default/Zoe.png');
  /* Classes */
  --class-locked: url('../textures/gui/inventory/lock.png');
  --def-class-icon: url('../textures/gui/inventory/item_ic_1d.png');
  /* Items */
  --gold-icon: url("../textures/items/gold.png");
}